.open-form-btn {
  background-color: #d91f22;;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease;
}

/* Tabs container */
.tabs {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Tab buttons */
.tab-btn {
  padding: 10px 20px;
  background: #f5f5f5;
  border: none;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.tab-btn:hover {
  background: #e0e0e0;
}

/* Active tab */
.tab-btn.active {
  background: #d91f22;;
  color: #fff;
}

.modal-content-this {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  max-width: 800px;
  width:35%;
  position: relative;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  animation: slideDown 0.3s ease-out;
}

/* Tab content wrapper */
.tab-content {
  background: #fff;
  padding: 20px;
  border-radius: 0 12px 12px 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.open-form-btn:hover {
  background-color: #d91f22;;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  position: relative;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  animation: slideDown 0.3s ease-out;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .modal-content {
    width: 95%;
    padding: 20px;
  }
}
